<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css"/>
    <title>Green Tech Blog</title>
</head>
<header>
    <nav>
        <ul>
            <a href="index.html"><li>Home</li></a>
            <a href="dashboard.html"><li>Dashboard</li></a>
            <a href="login.html"><li>Logout</li></a>
        </ul>
    </nav>
    <h1><span>The Tech Blog</span></h1>
</header>
<body>
  {{{body}}}
</body>
<footer class="newPost">
    <button type="submit" id="newPost">+ New Post</button>
</footer>
</html>