<div class="centerCards">
    <div class="blogCard">
        <p class="cardQuestion">Create New Post</p>
    </div>
    <form class="log">
        <label class="loginInput">Title</label>
        <input class="titleInput" type="text" name="passwordField" id="title">
        <label class="loginInput">Content</label>
        <input class="commentInput" type="password" name="passwordField" id="content">
        <button type="submit" id="loginButton">Create</button>
    </form>
</div>