<div class="centerCards">
    <div class="blogCard">
        <p class="cardQuestion">Edit Post</p>
    </div>
    <form class="log" id="edit-form">
        <input type="hidden" id="blog-id" value="{{blog.id}}" />
        <label class="loginInput">Title</label>
        <input class="titleInput" type="text" name="passwordField" id="title">
        <label class="loginInput">Content</label>
        <input class="commentInput" type="password" name="passwordField" id="content">
        <button class="loginButton" type="submit" id="updateButton">Update</button>
        <button class="loginButton" type="submit" id="deleteButton">Delete</button>
    </form>
</div>