{{#each posts}}
<div class="centerCards">
    <div class="dashBlogCard">
        <a href="/dashboard/edit/{{id}}"><p class="cardQuestion">{{title}}</p></a>
        <p>{{format_date createdAt}}</p>
    </div>
</div>
{{/each}}