<div class="centerCards">
    {{#each blogs}}
    <div class="dashBlogCard">
        <a href="/dashboard/edit/1"><p class="cardQuestion">{{title}}</p></a>
        <p>5/8/2020</p>
    </div>
    {{/each}}
</div>