<div class="centerCards">
    <div class="blogCard">
       <a href="/blog/1"><p class="cardQuestion">{{blogs.title}}</p></a> 
        <p>Posted by  on</p>
    </div>
    <div class="cardAnswer"></div>
</div>