<div class="centerCards">
    <div class="blogCard">
       <a href="/blog/1"><p class="cardQuestion">Why MVC is so important</p></a> 
        <p>Posted by Steven on 5/8/2020</p>
    </div>
    <div class="cardAnswer">MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and theController layer for application logic.</div>
</div>