<div class="centerCards">
    <div class="blogCard">
        <p class="cardQuestion">Sign Up</p>
    </div>
    <form class="log">
        <label class="loginInput">Username</label>
        <input class="userInput" type="text" name="passwordField" id="email-login">
        <label class="loginInput">Password</label>
        <input class="userInput" type="password" name="passwordField" id="password-login">
        <button type="submit" id="loginButton">Sign Up!</button>
        <a href="login.html"><p class="logInstead">Login instead</p></a>
    </form>
</div>