@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: cinzel;
    color: white;
    background-image: url(../images/header.jpg);
    background-size: cover;
    margin-bottom: 50px;
    padding-top: 10px;
    height: 125px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

li {
    margin-right: 30px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

h1 span {
    color: white;
    font-size: 50px;
}

body {
    background-color: rgb(233, 233, 233);
}

.centerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.blogCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    color: white;
    background-image: url(../images/header.jpg);
    background-size: cover;
    padding: 0px 15px;
}

.cardQuestion {
    font-weight: bold;
}

.cardAnswer {
    width: 90%;
    padding: 13px;
    border: 2px solid rgb(43, 12, 12);
}

.log {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 13px;
    border: 2px solid rgb(43, 12, 12);
}

.loginInput {
    font-size: 17px;
}

.userInput {
    border: none;
    padding: 10px 250px 10px 12px;
    margin-bottom: 10px;
}

.loginButton {
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    padding: 10px 131px 10px 131px;
    font-size: 17px;
    margin-top: 5px;
}

.loginButton:hover {
    color: white;
    background-color: rgb(97, 97, 97);
    cursor: pointer;
}

.logInstead {
    color: blue;
    font-size: 17px;
}

.newPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#newPost {
    color: white;
    background-image: url(../images/header.jpg);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.commentInput {
    border: 3px solid rgb(126, 204, 231);
    padding: 10px 250px 50px 12px;
    margin-bottom: 10px;
}

.titleInput {
    border: 3px solid rgb(126, 204, 231);
    padding: 10px 250px 10px 12px;
    margin-bottom: 10px;
}

.dashBlogCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 0px 15px;
}

.dashBlogCard:hover {
    color: white;
    background-color: rgb(97, 97, 97);;
}

@media screen and (max-width: 1000px) {

    h1 span {
        font-size: 30px;
    }

    ul {
        font-size: 15px;
    }
  
  }

  @media screen and (max-width: 710px) {

    header {
        height: 100px;
    }

    h1 span {
        position: relative;
        bottom: 5px;
        font-size: 20px;
    }

    ul {
        font-size: 10px;
    }

    li {
        position: relative;
        right: 15px;
        margin-right: 10px;
    }
  
  }

  @media screen and (max-width: 455px) {

    header {
        height: 80px;
    }

    h1 span {
        position: relative;
        bottom: 5px;
        font-size: 13px;
    }

    .blogCard {
        align-items: center;
    }

    .blogCard p {
        font-size: 10px;
    }

    .cardQuestion {
        font-size: 10px;
    }

    .dashBlogCard {
        align-items: center;
    }
  
  }

  @media screen and (max-width: 415px) {

    ul {
        font-size: 8px;
    }
  
  }